@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}
h1 {
	text-align: center;
}
.container {
	display: block;
	margin: 0 auto;
	max-width: 960px;
	margin-top: 3em;
}

.counter_container {
	color: white;
	width: 960px;
	height: 270px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	position: relative;
	background: linear-gradient(
			to bottom right,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 1)
		),
		url('rob-laughter-WW1jsInXgwM-unsplash.jpg');
	background-size: cover;
	background-position: center;
	max-width: 100%;
}
.numbers {
	font-size: 2em;
	font-weight: 900;
}
figcaption {
	padding: 1em;
	position: relative;
	bottom: 25px;
	color: white;
	font-size: 0.6em;
	font-weight: 100;
	text-align: right;
}
figcaption a {
	color: white;
}
